.topology-container {
    width: 100%;
    height: 100%;
    min-height: 275px;
    padding-bottom: -2rem;
    display: flex;
    flex-direction: column;
}


.topology-error {
    border: 1px solid gainsboro;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.topology-placeholder__image {
    width: 100%;
    height: 100%;
}

.topology-error__message {
    color: #999999;
    padding-left: 5px;
    margin-bottom: -2rem !important;
    z-index: 1;
}

.ssh-button {
    position: absolute;
    bottom: 1rem;
    right: 0.75rem;
    z-index: 1;
}
