@import "next-level-button.css";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.level-content {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: fit-content;
    position: relative;
}

.content-height-with-stepper {
    max-height: calc(100vh - 28rem);
    height: calc(100vh - 28rem);
}

.content-height-without-stepper {
    max-height: calc(100vh - 28rem + 90px);
    height: calc(100vh - 28rem + 90px);
}

.divider-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

.left-panel {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scroll-behavior: smooth;
    margin-left: 3rem;
    padding-right: 1rem;
    margin-right: 0.5rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    min-width: 0;
}

.right-panel {
    min-height: 275px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    min-width: 0;
}


.collapse-button {
    z-index: 1001;
    height: 64px;
    width: 24px;
    border-radius: 1rem 0 0 1rem;
    background: var(--neutral-98);
    box-shadow: -1px 1px 1px var(--neutral-70);
    padding: 0;
    margin: 0;
    border: none;
}

.collapse-button:hover, .collapse-button:active, .collapse-button:focus {
    box-shadow: -1px 1px 2px var(--neutral-70);
}


/* Breakpoint for wrapping avatar */
@media screen and (max-width: 1400px) {
    .level-content {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;
        margin-bottom: 10rem;
        height: auto;
    }

    .content-height-with-stepper, .content-height-without-stepper {
        max-height: unset;
    }

    .left-panel {
        padding: 0;
        margin: 0;
    }

    .right-panel {
        aspect-ratio: 1.25;
    }
}

@media screen and (max-width: 1000px) {
    .right-panel {
        aspect-ratio: 1;
    }
}


/* Breakpoint based on sentinel layout (when navbar is hidden) */
@media (max-width: 748px ) {

    .level-content {
        padding: 0;
        margin: 0 0 10rem 0;
        width: 100%;
    }

    .left-panel {
        padding: 0;
        margin: 0;
    }

    .right-panel {
        padding: 0;
        margin: 0;
        aspect-ratio: 0.75;
    }
}
