name: Portal CI

on:
  push:
    branches-ignore:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:
    inputs:
      confirm_action:
        description: "Type 'yes' if you want to publish and create a new tag"
        required: true
        default: "no"

jobs:
  frontend_template:
    uses: cyberrangecz/actions-templates/.github/workflows/frontend_template.yml@master
    secrets:
      NPMJS_TOKEN: ${{ secrets.NPMJS_TOKEN }}
      SENTINEL_PULL: ${{ secrets.SENTINEL_PULL }}
    with:
      IMAGE_NAME: "frontend-platform"
      VERSION_PATH: "package.json"
      publish_and_tag: ${{ github.event.inputs.confirm_action }}